<?xml version="1.0" encoding="UTF-8"?>

<phpunit
		backupGlobals="false"
		backupStaticAttributes="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="false"
		stopOnFailure="false"
		syntaxCheck="false"
		bootstrap="./tests/bootstrap.php.dist">

	<php>
		<var name="host_url" value=""/>
		<var name="relying_party_uuid" value=""/>
		<var name="relying_party_name" value=""/>
		<var name="document_number" value=""/>
		<var name="certificate_level" value=""/>
		<var name="data_to_sign" value=""/>
	</php>

	<testsuites>
		<testsuite name="Smart-ID Relying Party Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>