<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php.dist">

  <php>
    <var name="host_url" value=""/>
    <var name="relying_party_uuid" value=""/>
    <var name="relying_party_name" value=""/>
    <var name="document_number" value=""/>
    <var name="national_identity_number" value=""/>
    <var name="country_code" value=""/>
    <var name="certificate_level" value=""/>
    <var name="data_to_sign" value=""/>
  </php>

  <testsuites>
    <testsuite name="UnitTest">
      <directory>./tests</directory>
      <exclude>./tests/Sk/SmartId/Tests/Api/SmartIdClientIntegrationTest.php</exclude>
      <exclude>./tests/Sk/SmartId/Tests/Rest/SmartIdRestIntegrationTest.php</exclude>
    </testsuite>

    <testsuite name="ClientIntegrationTest">
      <file>./tests/Sk/SmartId/Tests/Api/SmartIdClientIntegrationTest.php</file>
    </testsuite>

    <testsuite name="RestIntegrationTest">
      <file>./tests/Sk/SmartId/Tests/Rest/SmartIdRestIntegrationTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>